@import "../../scss/variables";
@import "../../scss/mixins";

.Author__Master {
    @include master_colors; 
    padding-top: 10px; 
    padding-bottom: 20px; 
}

.Author__BooksByAuthor {
    @include flex_center(row); 
    color: $sky-blue; 
}