@import '../../scss/variables';


.Product__Master {
    padding-top: 15px; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    width: 90%; 
    color: $bright-orange; 
}

.Product__Title {
    padding-top: 10px; 
    display: flex; 
    flex-direction: center; 
    align-items: center;  
}

.Product__Image {
    padding-top: 10px; 
    height: 40vh; 
    width: 30vh; 
}

.Product__Author {
    font-style: italic; 
    padding-top: 6px; 
}

.Product__Price {
    padding-top: 10px; 
}

@media only screen and (min-width: 700px){
    .Product__Master {
        max-width: 50%; 
    }

    .Product__Image {
        max-height: 100%;
        max-width: 100%;
    }

    .Product__Title {
        max-width: 90%;
        height: 70px; 
    }
}

@media only screen and (min-width: 1505px){
    .Product__Master {
        width: 30vw; 
    }
}