@import "./scss/variables"; 
@import "./scss/mixins";
@import "./reset.scss";

.App__Master {
    font-family: arial-black;
    background-color: $black; 

    // .App__Cart {
    //     display: flex; 
    //     justify-content: center;
    //     align-items: center; 
    //     // padding-top: 100px; 
    //     background-color: $black; 
    // }
    
}

h1 {
    font-size: 32px; 
}

h2 {
    font-size: 23px; 
}

