$bright-orange: #FF6600;
$scarlet: #E10013;
$mist: #F1F1F1;
$white: #FFFFFF;
$black: #171717;
$dark-grey: #1C1C1C; 
$sky-blue: #009DFF; 
$dark-blue: #00379F; 
$purple: #300060; 
$pidgeon-grey: #B3B0AC;
