@import '../../../scss/variables';
@import '../../../scss/mixins'; 

.Recommended__Master {
    @include flex_center(column);
    width: 30%; 
    height: 100%; 
}

.Recommended__Image {
    padding-top: 15px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 325px;
    width: 225px;  
}

.Recommended__Title {
    padding-top: 15px; 
}
